.App{
  display: grid;
  grid-template-columns: 25ch 1fr;
}
main{
  text-align: center;
}



.players {
  display: grid;
  grid-template-columns: 1fr 3ch;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(auto-fill, 1.5rem);
}
.players li {
  display: contents;
}
@media screen and (max-width: 30em) {
  .App{
    display: block;
  }
  .players{
    display:flex;
    overflow:scroll;
    gap:1rem
  }
  .players li {
    display:flex;
    flex-wrap:nowrap;
    white-space:nowrap;
    gap:.5rem
  }
}